---
import App from "../../../layouts/App.astro";
import ContentArea from "../../../components/ContentArea.astro";
import { CMS_URL } from "../../../consts";
import postsIndex from "../../../data/postIndex";
import { getFeaturedImage } from "../../../utilities/post-utilities";

export const getStaticPaths = async () => {
  return postsIndex.results.map((item) => {
    const routes = {
      params: {
        year: item.year,
        month: item.month,
        slug: decodeURI(item.slug),
      }
    }

    return routes;
  });
};

const { slug } = Astro.params;

const fetchData = async () => {
  const res = await fetch(`${CMS_URL}/wp-json/wp/v2/posts/?slug=${encodeURI(slug)}&_embed`);
  const post = await res.json();

  return post;
}

const postData = await fetchData();
const featuredImage = getFeaturedImage( postData[0] );
---
<script>
const postContent = document.querySelector('.post-content');
const codeBlocks = postContent?.querySelectorAll('.wp-block-code code');

if ( codeBlocks && codeBlocks.length > 0) {
  const { default:hljs } = await import("highlight.js");

  codeBlocks.forEach((code) => {
    hljs.highlightElement(code);
  });
}
</script>
<App>
  <div class="container mx-auto">
    { postData.map( (post) => (
      <div class="post-body max-w-[720px] px-4 mx-auto">
        <div class="post-header">
          <h1 class="post-title heading-1" set:html={post.title.rendered} />
          {featuredImage && (
            <div class="post-cover py-4 mb-4 lg:mb-8">
              <img src={featuredImage} alt={post.title.rendered} class="post-cover-image">
            </div>
          )}
        </div>
        <ContentArea>
          <div class="post-content" set:html={post.content.rendered} />
        </ContentArea>
      </div>
    )) }
  </div>
</App>
