---
import { getCollection } from 'astro:content';
import dayjs from 'dayjs';
import App from "@src/layouts/App.astro";
import ContentArea from "@component/ContentArea.astro";
import { SITE_TITLE } from "@src/consts";

export async function getStaticPaths() {
	const posts = await getCollection('web');

	return posts.map((post) => {
    const postDate = dayjs(post.data.datetime);

    const routes = {
      params: {
        year: String(postDate.year()),
        month: String(postDate.month()).padStart(2, '0'),
        slug: decodeURI(post.data.slug),
      },
      props: {post: post.data},
    }

    return routes;
  });
}

const { post } = Astro.props;
const pageTitle = `${post.title} - ${SITE_TITLE}`;
---
<style>
  @reference "../../../styles/app.css";

  article {
    @apply bg-white max-w-240 text-black mx-auto card-border;
  }

  header {
    @apply relative h-85 bg-white rounded-b-4xl overflow-clip;

    &::before {
      @apply content-[''] absolute z-5 top-0 left-0 right-0 bottom-0 bg-linear-to-t from-black to-transparent;
    }

    .featured-image {
      @apply relative z-1 w-full h-full object-cover;
    }

    .post-title {
      @apply absolute z-10 bottom-0 text-4xl font-medium p-6 leading-12 text-white text-shadow-xs text-shadow-black;
    }
  }

  main {
    @apply p-6;
  }
</style>

<App title={pageTitle}>
  <article>
    <header>
      {post.featured_image && (
        <img class="featured-image" alt={post.title} src={post.featured_image}/>
      )}
      <h1 class="post-title" set:html={post.title}/>
    </header>
    <main>
      <ContentArea content={post.content}/>
    </main>
  </article>
</App>
