---
import { getCollection } from 'astro:content';
import dayjs from "dayjs"
import { POSTS_PER_PAGE } from "../../consts";
import App from "@layout/App.astro";
import BlogCard from "@component/BlogCard.astro";
import Pagination from "@component/Pagination.astro";
import { SITE_TITLE } from "@src/consts";

export async function getStaticPaths({ paginate }) {
	const posts = await getCollection('web');

  posts.sort((a, b) => dayjs(b.data.datetime).diff(dayjs(a.data.datetime)));

  return paginate(posts, { pageSize: POSTS_PER_PAGE });
}

const { page } = Astro.props;
const pageTitle = `Archive Page ${page.currentPage} - ${SITE_TITLE}`;
const totalPages = Math.ceil(page.total/page.size);

console.log(page)
---
<style>
  @reference "../../styles/app.css";

  .container {
    @apply mx-auto max-w-240;
  }

  .entry-item {
    @apply max-w-180 w-full mx-4 lg:mx-auto mb-14;
  }
</style>
<App title={pageTitle}>
  <ul class="entry-list">
    { page.data.map( (post) => (
      <li class="entry-item">
        <BlogCard post={post} />
      </li>
    )) }
  </ul>
  <Pagination totalPages={totalPages} currentPage={page.currentPage} baseUrl="/page" nextUrl={page.url.next} prevUrl={page.url.prev} lastUrl={page.url.last} firstUrl="/"/>
</App>
